<!DOCTYPE html>
<html lang="en" ng-app="myApp" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900'>
<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Montserrat:400,700'>
<link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
      <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div class="form">
  <div class="thumbnail"><img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/169963/hat.svg"/></div>
  <!-- <form class="register-form">
    <input type="text" class="form-control" placeholder="Name" ng-model="newname" name="newname" required>
    <input type="text" class="form-control" placeholder="Username" ng-model="newusername" name="newusername" required>
    <input placeholder="Password" name="pwd" ng-model="thePwd"  class="form-control" type="password" pattern=".{5,}" required />
    <input placeholder="Check Password" class="form-control"   name="check" ng-model="chkPwd" type="password" wj-validation-error="chkPwd != thePwd ? 'Passwords don\'t match' : ''" />
    <input type="email" class="form-control" placeholder="Email" ng-model="newemail" name="newemail" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" required>
    <button>Create</button>
    <p class="message">Already Registered? <a href="#">Sign In</a></p>
  </form> -->
  <form  name="form" class="register-form" ng-controller="loginCtrl">
        <div class="form-group row">
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Username" ng-model="newusername" name="newusername" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Name" ng-model="newname" name="newname" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-5">
            <input placeholder="Password" name="pwd" ng-model="thePwd"  class="form-control" type="password" pattern=".{5,}" required />
          <div class="error-message" ng-if="form.pwd.$invalid && form.pwd.$dirty">
              <small>Passwords must have at least 5 chars.</small>
              </div>
            </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-5">
            <input placeholder="Confirm Password" class="form-control"   name="check" ng-model="chkPwd" type="password" wj-validation-error="chkPwd != thePwd ? 'Passwords don\'t match' : ''" />
            <div class="error-message" ng-if="form.check.$invalid && form.check.$dirty ">
                    <small>Sorry, the passwords don't match.</small>
                </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-5">
            <input type="email" class="form-control" placeholder="Email" ng-model="newemail" name="newemail" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$" required>
          </div>
        </div>

        <button>Create</button>
        <p class="message">Already Registered? <a href="#">Sign In</a></p>
      </form>
  <form class="login-form">
    <input type="text" placeholder="Username" required/>
    <input type="password" placeholder="Password" required/>
    <button>Login</button>
    <p class="message">Not registered? <a href="#">Create an account</a></p>
  </form>
</div>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

    <script  src="js/index.js"></script>
    <script src="js/loginCtrl.js"></script>
</body>
</html>
