<div class = "row">
    <div class = "col-md-2 col-md-offset-1">
        <h4>User Details</h4>
    </div>
    <div class = "col-md-2 col-md-offset-6">
        <!-- <button class = "btn btn-primary" ng-click = "upload()">Upload</button> -->
        <input type="file" id="file1" multiple/>

    </div>
</div>
<hr>
<div class = "row">
    <div class = "col-md-4 col-md-offset-5">
        <h2>Subjects</h2>
    </div>
</div>
<hr>
<div class = "row">
    <div class = "col-md-10 col-md-offset-1">
        <div class = "subjects"></div>
        <div class = "subjects"></div>
        <div class = "subjects"></div>
        <div class = "subjects"></div>
    </div>
</div>
<br><br>
<div class = "row">
    <div class = "col-md-10 col-md-offset-1">
        <div class = "subjects"></div>
        <div class = "subjects"></div>
        <div class = "subjects"></div>
        <div class = "subjects"></div>
    </div>
</div>
